body{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}
.box{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to right,rgba(36, 49, 107, 0.349), rgb(59, 70, 165));
            padding: 30px;
            border-radius: 15px;
            width: 40%;
        }
legend{
    text-align: center;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{ 
    background: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
    #data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
    #submit{
    background-image: linear-gradient(to right,rgb(7, 21, 221), rgb(93, 103, 160));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
    #submit:hover{
    background-image: linear-gradient(to right,rgb(11, 16, 59),rgb(28, 29, 107));
}