<body>
    <div class="box">
        <form action="">
            <fieldset>
                <legend><b>Cadastro de Livros</b></legend>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Nome do Livro</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Nome do Autor</label>
                </div>
                <br><br>
                <p>Gênero:</p>
                <input type="radio" id="feminino" name="genero" value="Romance" required>
                <label for="Romance">Romance</label>
                <br>
                <input type="radio" id="masculino" name="genero" value="Terror" required>
                <label for="Terror">Terror</label>
                <br>
                <input type="radio" id="masculino" name="genero" value="Aventura" required>
                <label for="Aventura">Aventura</label>
                <br>
                <input type="radio" id="outro" name="genero" value="outro" required>
                <label for="outro">Outro</label>
                <br><br>
                <label for="data_lancamento"><b>Data de Lançamento:</b></label><br>
                <input type="date" name="data_lancamento" id="data_lancamento" required>
                <br><br><br>
                <div class="inputBox">
                    <input type="text" name="cidade" id="cidade" class="inputUser" required>
                    <label for="cidade" class="labelInput">Cidade</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="estado" id="estado" class="inputUser" required>
                    <label for="estado" class="labelInput">Estado</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="preço" id="preço" class="inputUser" required>
                    <label for="preço" class="labelInput">Preço</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="modelo" id="modelo" class="inputUser" required>
                    <label for="modelo" class="labelInput">Modelo</label>
                </div>
                <br><br>
                <input type="submit" name="submit" id="submit">
            </fieldset>
        </form>
    </div>
</body>