<div class="d-flex justify-content-center">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fff">Estante Encantada</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: #fff" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #fff">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff">
              Livros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Categoria</a></li>
              <li><a class="dropdown-item" href="#">Autores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Destaques</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff">
              Listagem
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="autores">Autores</a></li>
              <li><a class="dropdown-item" href="editoras">Editoras</a></li>
              <li><a class="dropdown-item" href="funcionarios">Funcionários</a></li>
              <li><a class="dropdown-item" href="enderecos">Endereços</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff">
              Cadastrar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/cadautor" style="color: #000000">Cadastro de Autores</a></li>
              <li><a class="dropdown-item" routerLink="/cadeditora" style="color: #000000">Cadastro de Editoras</a></li>
              <li><a class="dropdown-item" routerLink="/cadfuncionario" style="color: #000000">Cadastro de Funcionários</a></li>
              <li><a class="dropdown-item" routerLink="/cadendereco" style="color: #000000">Cadastro de Endereços</a></li>
              <li><a class="dropdown-item" routerLink="/cadlivro" style="color: #000000">Cadastro de Livros</a></li> 
            </ul>
          </li>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </ul>
        </div>
      </div>
    </nav>
</div>
<router-outlet></router-outlet>