<div class="container">
    <h1><font color="white">Editoras</font></h1>
    <div class="input-group mb-3">
      <input class="form-control" type="text" placeholder="Buscar editoras(s)">
      <button class="btn btn-success" type="button">Buscar</button>
    </div>
    <div>
      <button class="btn btn-primary" type="button">
        Adicionar Editora (?)
      </button>
    </div><br>
    <div>
      <ul>
        <font color="white">
            <li *ngFor="let editora of editoras">
              {{ editora.razao_social }} - {{ editora.cnpj }} - {{ editora.ie }}
            </li>
        </font>
      </ul>
    </div>
  </div>  