<div class="container">
    <h1><font color="white">Funcionários</font></h1>
    <div class="input-group mb-3">
      <input class="form-control" type="text" placeholder="Buscar funcionário(s)">
      <button class="btn btn-success" type="button">Buscar</button>
    </div>
    <div>
      <button class="btn btn-primary" type="button">
        Adicionar Funcionários (?)
      </button>
    </div><br>
    <div>
      <ul>
        <font color="white">
            <li *ngFor="let funcionario of funcionarios">
              {{ funcionario.id }} - {{ funcionario.data_admissao }} - {{ funcionario.salario }} - {{ funcionario.cargo }}
            </li>
        </font>
      </ul>
    </div>
  </div>  