<div class="container">
    <h1><font color="white">Autores</font></h1>
    <div class="input-group mb-3">
      <input class="form-control" type="text" placeholder="Buscar autores(s)">
      <button class="btn btn-success" type="button">Buscar</button>
    </div>
    <div>
      <button class="btn btn-primary" type="button">
        Adicionar Autor (?)
      </button>
    </div><br>
    <div>
      <ul>
        <font color="white">
            <li *ngFor="let autor of autores">
              {{ autor.id }} - {{ autor.nome }} - {{ autor.nacionalidade }} - {{ autor.data_morte }} - {{ autor.biografia }}
            </li>
        </font>
      </ul>
    </div>
  </div>  