<body>
    <div class="box">
        <form action="">
            <fieldset>
                <legend><b>Cadastro de Editoras</b></legend>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Nome da empresa</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="cnpj" id="cnpj" class="inputUser" required>
                    <label for="cnpj" class="labelInput">CNPJ</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="tel" name="ie" id="ie" class="inputUser" required>
                    <label for="ie" class="labelInput">Inscrição Estadual</label>
                </div><br>
                <label for="data_nascimento"><b>Fundação</b></label><br>
                <input type="date" name="fundacao" id="fundacao" required>
                <br><br><br>
                <input type="submit" name="submit" id="submit">
            </fieldset>
        </form>
    </div>
</body>