<div class="container">
    <h1><font color="white">Endereços</font></h1>
    <div class="input-group mb-3">
      <input class="form-control" type="text" placeholder="Buscar endereco(s)">
      <button class="btn btn-success" type="button">Buscar</button>
    </div>
    <div>
      <button class="btn btn-primary" type="button">
        Adicionar Endereços (?)
      </button>
    </div><br>
    <div>
      <ul>
        <font color="white">
            <li *ngFor="let endereco of enderecos">
              {{ endereco.rua }} - {{ endereco.numero }} - {{ endereco.bairro }} - {{ endereco.cep }} - {{ endereco.cidade }} - {{ endereco.descricao }} - {{ endereco.complemento }}
            </li>
        </font>
      </ul>
    </div>
  </div>  