<body>
    <div class="box">
        <form action="">
            <fieldset>
                <legend><b>Cadastro de Funcionários</b></legend>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required>
                    <label for="nome" class="labelInput">Nome completo</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="salario" id="salario" class="inputUser" required>
                    <label for="salario" class="labelInput">Salario</label>
                </div>
                <br>
                <p>Sexo:</p>
                <input type="radio" id="feminino" name="genero" value="feminino" required>
                <label for="feminino">Feminino</label>
                <br>
                <input type="radio" id="masculino" name="genero" value="masculino" required>
                <label for="masculino">Masculino</label>
                <br>
                <input type="radio" id="outro" name="genero" value="outro" required>
                <label for="outro">Outro</label>
                <br>
                <br>
                <label for="data_nascimento"><b>Data de Admissão:</b></label><br>
                <input type="date" name="data_nascimento" id="data_nascimento" required>
                <br><br>
                <p>Cargo:</p>
                <input type="radio" id="atendente" name="cargo" value="atendente" required>
                <label for="atendente">Atendente</label>
                <br>
                <input type="radio" id="logistica" name="cargo" value="logistica" required>
                <label for="logistica">Logística</label>
                <br>
                <input type="radio" id="repositor" name="cargo" value="repositor" required>
                <label for="repositor">Repositor</label>
                <br>
                <input type="radio" id="gestor" name="cargo" value="gestor" required>
                <label for="gestor">Gestor</label>
                <br><br><br>
                <input type="submit" name="submit" id="submit">
            </fieldset>
        </form>
    </div>
</body>